.app {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  //
  // Defaults
  * {
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    &:focus {
      text-decoration: none;
    }
  }

  ul {
    li {
      margin-left: 0;
    }
  }

  //
  // Helpers

  .section--inner {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .btn--read-more {
    display: inline-block;
    padding: 20px 30px;
    background: #fff;
    border-radius: 4px;
    color: #103f61;
    font-weight: 600;
    font-size: 14px;
    transition: all 0.2s ease;
    &:hover {
      box-shadow: 0px 0px 38px -8px rgba(0,0,0,0.75);
    }
    .ion-arrow-right-b {
      margin-left: 10px;
    }
  }


  //
  // Variables
  $images: '../../images/UI';

   //
  // Modules
  @import 'modules/header.scss';
  .main {
    flex: 1;
  }
  @import 'modules/footer.scss';

   //
  // Pages
  @import 'pages/home/_.scss';
  @import 'pages/contact.scss';
  @import 'pages/managed-services.scss';

}