.app {
  font-family: 'Open Sans', sans-serif;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  a {
    text-decoration: none;
    &:focus {
      text-decoration: none;
    }
  }

  ul {
    li {
      margin-left: 0;
    }
  }

  .section--inner {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

   //
  // Modules
  @import 'modules/header.scss';
  .main {
    flex: 1;
  }
  @import 'modules/footer.scss';

   //
  // Pages
  @import 'pages/home.scss';
  @import 'pages/contact.scss';

}