.footer {
  padding: 60px 0;
  .columns {
    display: flex;
    justify-content: space-between;
    .column {
      width: 28%;
      // background: #eee;
    }
  }

  .divider {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
  }

  //
  // Navs
  .logotype {
    max-width: 200px;
    margin-bottom: 25px;
    .logotype-image {
      max-width: 100%;
      display: block;
      height: auto;
    }
  }
  .description {
    p {
      color: #9a9b9d;
      font-size: 14px;
      line-height: 24px;
      margin-top: 0;
      margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .contacts {
    padding-top: 20px;
    .contacts-heading {
      font-weight: 600;
      color: #333;
      margin-bottom: 20px;
    }
    p {
      margin-top: 0;
      color: #9a9b9d;
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    a {
      color: #75acd3;
    }
  }
  .nav-menus {
    display: flex;
    justify-content: space-between;
    .nav-menu {
      width: 50%;
      padding-top: 20px;

      .nav-menu-heading {
        font-weight: 600;
        color: #333;
        margin-bottom: 20px;
      }
      .nav-menu-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      .nav-menu-item {
        margin: 0;
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .nav-menu-link {
        color: #989da3;
        font-size: 13px;
      }
    }
  }
}