.header {
  background: #fff;
  .container--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .logotype {
    width: 250px;
  }
  .logotype-image {
    max-width: 100%;
    display: block;
    height: auto;
  }
  .nav-menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  .nav-menu-item {
    margin-right: 60px;
    &:last-child {
      margin-right: 0;
    }
  }
  .nav-menu-link {
    font-weight: 600;
    text-transform: uppercase;
    color: #333;
    font-size: 12px;
  }
}