.section--services {
  
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;

  @include mq($until: wide) {
    padding: 50px;
  }

  @include mq($until: tablet) {
    padding: 30px;
  }

  @include mq($until: landscape) {
    padding: 30px 10px;
  }

  .heading {
    font-weight: 600;
    text-align: center;
    font-size: 32px;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 30px;
    @include mq($until: tablet) {
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }

  .services {
    display: flex;
    justify-content: center;
    
    @include mq($until: wide) {
      flex-wrap: wrap;
    }

    @include mq($until: desktop) {
      flex-direction: column;
      justify-content: flex-start;
    }

    .service {
      border: 1px solid #E0E0E0;
      border-radius: 4px;
      padding: 20px;
      margin: 10px;
      flex: 1;
      display: flex;
      flex-direction: column;
      
      @include mq($until: wide) {
        width: 25%;
        flex: 0 0 auto;
      }

      @include mq($until: desktop) {
        width: 90%;
        flex: 1 1 auto;
        margin-left: auto;
        margin-right: auto;
      }
      @include mq($until: tablet) {
        width: 100%;
      }

    }
    .service-heading {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      margin-top: 0;
      @include mq($until: tablet) {
        font-size: 16px;
      }
    }
    .service-icon {
      width: 60px;
      height: 60px;
      background-repeat: no-repeat;
      display: inline-block;
      margin-right: 20px;

      // Loop for icons
      $icons: 'managed-services', 'it-consulting', 'managed-deployment', 'telecom', 'hosting';
      @each $icon in $icons {
        &--#{$icon} {
          background-image: url('../../images/UI/icons/services/#{$icon}.svg');            
        }
      }

    }
    .service-content {
      flex: 1;
    }
    .service-description {
      font-size: 14px;
      line-height: 25px;
    }
    .service-link {
      float: right;
      background:none;
      border: 2px solid #5D94DF;
      border-radius: 4px;
      font-weight: 600;
      padding: 10px 15px;
      display: inline-block;
      font-size: 12px;
      color: #5D94DF;
      i {
        font-size: 12px;
        margin-left: 5px;
      }
      @include mq($until: tablet) {
        padding: 5px 10px;
      }
    }
  }
}