.page--managed-services {
  .jumbotron {
    background-color: #069FC6;

    .jumbotron--inner {
      min-height: 450px;
      margin-left: auto;
      margin-right: auto;
      color: #fff;
      padding: 70px 0 100px 0;
      
      @include mq($until: wide) {
        padding-left: 30px;
        padding-right: 30px;
      }

      @include mq($until: tablet) {
        padding-top: 50px;
        padding-bottom: 50px;
      }

      @include mq($until: landscape) {
        padding: 30px;
      }

    }

    .description {
      margin-top: 0;
      font-size: 16px;
      color: #fff;
      margin-bottom: 18px;
      line-height: 25px;
      @include mq($until: tablet) {
        font-size: 14px;
      }
    }

    .container--btn {
      margin-top: 40px;
      text-align: center;
    }

    //
    // Heading
    .heading {
      font-size: 40px;
      font-weight: 700;
      color: #fff;
      margin-bottom: 30px;
      margin-top: 0;
      @include mq($until: wide) {
        font-size: 34px;
        margin-bottom: 20px;
      }
      @include mq($until: tablet) {
        font-size: 28px;
        margin-bottom: 10px;
      }
    }

  }
  .section--description {
    position: relative;
    border-bottom: 1px solid #f5f5f5;
    .description--inner {
      box-shadow: 0px 0px 38px -8px rgba(0,0,0,0.75);
      padding: 50px;
      top: -50px;
      background: #fff;
      position: relative;
      @include mq($until: tablet) {
        position: static;
        box-shadow: none;
      }
      @include mq($until: tablet) {
        padding: 30px;
      }
      @include mq($until: landscape) {
        margin-left: 0px;
        margin-right: 0px;
      }
    }
    
    .heading {
      text-align: center;
      margin-top: 0;
      margin-bottom: 40px;
      font-size: 24px;
      color: #333;
      @include mq($until: landscape) {
        margin-bottom: 20px;
      }
    }

    .description {
      font-size: 14px;
      color: #333;
      line-height: 25px;
    }

    //
    // Preview
    .preview {
      border-top: 1px solid #eee;
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      @include mq($until: desktop) {
        display: block;
      }
      .container--preview-image {
        width: 45%;
        padding: 50px 20px 0 20px;
        @include mq($until: wide) {
          padding: 50px 0;
          margin-top: 30px;
          margin-bottom: 30px;
        }
        @include mq($until: desktop) {
          width: 100%;
        }
        @include mq($until: tablet) {
          padding-top: 20px;
          padding-bottom: 20px;
          margin-bottom: 40px;
        }
      }
      .preview-image {
        margin-left: auto;
        margin-right: auto;
        display: block;
        max-width: 100%;
        height: auto;
      }
      .container--preview-description {
        width: 45%;
        padding: 50px 20px 0 20px;
        @include mq($until: wide) {
          padding: 50px 0;
        }
        @include mq($until: desktop) {
          width: 100%;
        }
        @include mq($until: tablet) {
          padding-top: 0px;
          padding-bottom: 0;
        }
      }
      
      .preview-subheading {
        margin-top: 0;
        color: #333;
        font-size: 18px;
        font-weight: 400;
        @include mq($until: desktop) {
          text-align: center;
        }
      }

    }

  }

}